@import "../boostrap/bootstrap.min.css";
@import "../boostrap/bootstrap.css";
* {
  margin: 0%;
}

@font-face {
  font-family: "roboto slab";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
}
h1 {
  text-align: center;
  color: rgb(244, 244, 244);
  background-color: rgb(255, 182, 193);
  height: 80px;
  font-size: 80px;
}
h1 a {
  text-align: center;
  color: rgb(244, 244, 244);
  background-color: rgb(255, 182, 193);
  height: 80px;
  font-size: 80px;
}

body {
  font-family: "roboto slab";
}

h2 {
  text-align: center;
  font-size: x-small;
  height: 25px;
  color: rgb(251, 251, 251);
  background-color: rgb(255, 182, 193);
  margin-bottom: 0%;
}

.menu ul {
  background-color: rgb(255, 0, 170);
  text-align: center;
  font-size: small;
}
.menu ul a {
  text-decoration: none;
  color: white;
  padding-right: 15px;
}

.slide {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.slide img {
  max-width: 100%;
}

.eslogan p {
  text-align: center;
  font-size: 40px;
  margin-top: 25px;
  background-color: rgb(255, 0, 170);
  color: white;
}

.contenedor2 {
  display: flex;
  justify-content: center;
}

.contenedor2 img {
  right: 300px;
  height: 150px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.principal p {
  background-color: rgb(255, 182, 193);
  white-space: pre-line;
  line-height: 16px;
  font-size: 10px;
  color: white;
  text-align: left;
}

.principal img {
  right: 300px;
  height: 150px;
  margin-top: -220px;
  margin-left: 270px;
  margin-bottom: 30px;
}

footer {
  background-color: rgb(255, 182, 193);
  color: white;
  font-size: 10px;
  padding: 0px 15px;
  text-align: center;
}

.redes div {
  margin-right: 5px;
}

.seccion3 {
  display: flex;
  gap: 150px;
}

.seccion3 div {
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

footer p {
  text-align: right;
  font-size: 10px;
  margin-top: 10px;
}

.contenedor3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.contenedor3 img {
  right: 400px;
  height: 400px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 10px;
}

.contenedor3 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 180px;
  width: 150px;
  height: 50px;
}

.video {
  margin-left: 300px;
  margin-top: 25px;
}

.contenedor4 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.contenedor4 img {
  right: 400px;
  height: 400px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 10px;
}

.contenedor4 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 180px;
  width: 150px;
  height: 50px;
}

.textosummary {
  font-size: large;
  color: rgb(255, 0, 170);
  text-align: center;
}

.contenedor6 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.contenedor6 img {
  right: 400px;
  height: 400px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 10px;
}

.contenedor6 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 50px;
  width: 150px;
  height: 50px;
}

.contenedor7 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.contenedor7 img {
  right: 400px;
  height: 400px;
  margin-right: 80px;
  margin-left: 120px;
  margin-top: 10px;
}

.prueba1 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 180px;
  width: 150px;
  height: 50px;
}

.prueba2 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 200px;
  width: 150px;
  height: 50px;
}

.prueba3 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 200px;
  width: 150px;
  height: 50px;
}

.prueba4 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 180px;
  width: 150px;
  height: 50px;
}

.prueba5 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 180px;
  width: 150px;
  height: 50px;
}

.prueba6 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 180px;
  width: 150px;
  height: 50px;
}

.prueba7 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 70px;
  width: 150px;
  height: 50px;
}

.contenedor9 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.contenedor9 img {
  height: 500px;
  margin-top: 10px;
  margin-right: 80px;
  margin-left: 220px;
}

.contenedor10 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.contenedor10 img {
  right: 400px;
  height: 400px;
  margin-right: 80px;
  margin-left: 120px;
  margin-top: 10px;
}

.contenedor11 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.contenedor11 img {
  right: 400px;
  height: 400px;
  margin-left: 40px;
}

.contenedor11 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 100px;
  width: 150px;
  height: 50px;
}

.ropa01 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.ropa01 img {
  height: auto;
  width: 400px;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ropa10 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.ropa10 img {
  height: auto;
  width: 300px;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contenedor12 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.contenedor12 img {
  right: 400px;
  height: 400px;
  margin-left: 40px;
  margin-top: 5px;
}

.contenedor12 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 70px;
  width: 150px;
  height: 50px;
}

.contenedor13 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.contenedor13 img {
  height: 400px;
  margin-top: 10px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.contenedor14 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.contenedor14 img {
  height: 400px;
  margin-left: 40px;
}

.contenedor14 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 100px;
  width: 150px;
  height: 50px;
}

.look05 {
  display: grid;
  grid-template-columns: 25% 25%;
}

.look05 img {
  height: 400px;
  margin-left: 600px;
  margin-top: -500px;
}

.implook {
  display: grid;
  grid-template-columns: 50%;
}

.implook img {
  height: 600px;
  margin-left: 50px;
  margin-top: 20px;
}

.contenedor15 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.contenedor15 img {
  height: 400px;
  margin-left: 40px;
}

.contenedor15 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 70px;
  width: 150px;
  height: 50px;
}

.desc p {
  text-align: center;
  font-size: 80px;
  margin-top: 10px;
  background-color: red;
  color: white;
}

.contenedor16 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  transform: translate(20px, -20px);
}

.contenedor16 img {
  height: 400px;
  margin-left: 100px;
  margin-top: 10px;
  transition: 1s;
}

.contenedor16 button {
  background-color: rgb(255, 182, 193);
  background-position-x: center;
  border: none;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 150px;
  width: 150px;
  height: 50px;
}

@media (min-width: 600px) and (max-width: 899px) {
  .contenedor2 img {
    right: 600px;
    height: 250px;
  }
  .principal p {
    font-size: 15px;
  }
  .principal img {
    margin-left: 450px;
    margin-top: -250px;
  }
  .seccion3 div {
    width: 200px;
  }
  footer p {
    font-size: 15px;
  }
  .contenedor7 {
    grid-template-columns: repeat(2, auto);
    align-items: center;
  }
  .contenedor7 img {
    right: 300px;
    height: 300px;
    margin-left: 30px;
  }
  .prueba1 button {
    margin-left: 50px;
  }
  .prueba2 button {
    margin-left: 50px;
  }
  .prueba3 button {
    margin-left: 50px;
  }
  .prueba4 button {
    margin-left: 50px;
  }
  .prueba5 button {
    margin-left: 50px;
  }
  .prueba6 button {
    margin-left: 50px;
  }
  .prueba7 button {
    margin-top: -10px;
    background-position-x: none;
    margin-left: -30px;
  }
  .contenedor9 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor9 img {
    right: 300px;
    height: 300px;
    margin-left: 40px;
  }
  .contenedor10 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor10 img {
    right: 300px;
    height: 300px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .contenedor10 button {
    margin-top: 10px;
  }
  .desc p {
    font-size: 25px;
  }
  .contenedor13 {
    grid-template-columns: 1fr;
  }
  .contenedor13 img {
    margin-left: 160px;
    margin-bottom: 10px;
  }
  .contenedor14 {
    grid-template-columns: 50% 50%;
  }
  .contenedor14 img {
    margin-left: 20px;
  }
  .contenedor14 button {
    margin-left: 90px;
  }
  .implook {
    grid-template-columns: 1fr;
  }
  .implook img {
    height: 400px;
    margin-left: 160px;
  }
  .look05 {
    grid-template-columns: 50% 50%;
  }
  .look05 img {
    height: 400px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .contenedor15 {
    grid-template-columns: 50% 50%;
  }
  .contenedor15 img {
    margin-left: 10px;
  }
  .contenedor15 button {
    margin-left: 30px;
  }
  .contenedor16 {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .contenedor16 img {
    right: 300px;
    height: 300px;
    margin-left: 40px;
  }
  .contenedor16 button {
    margin-left: 60px;
  }
  .ropa01 img {
    width: 280px;
    margin-left: 10px;
    margin-bottom: 40px;
  }
  .contenedor11 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor11 img {
    height: 400px;
    margin-left: 20px;
    right: 10px;
  }
  .ropa10 {
    grid-template-columns: repeat(2, auto);
  }
  .ropa10 img {
    width: 280px;
    margin-left: 10px;
  }
  .contenedor12 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor12 img {
    margin-left: 20px;
  }
  .contenedor12 button {
    margin-left: 50px;
  }
  .contenedor3 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor3 img {
    margin-left: 40px;
    height: 300px;
  }
  .contenedor3 button {
    margin-left: 80px;
  }
  .video iframe {
    width: 260px;
    height: 500px;
    margin-top: -400px;
    margin-left: 20px;
  }
  .contenedor4 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor4 img {
    height: 300px;
    margin-left: 40px;
  }
  .contenedor4 button {
    margin-left: 80px;
  }
  .contenedor6 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor6 img {
    height: 300px;
    margin-left: 30px;
  }
  .contenedor6 button {
    margin-left: -30px;
  }
}
@media (min-width: 900px) {
  .contenedor2 img {
    right: 1000px;
    height: 500px;
    margin-right: 35px;
  }
  .menu ul {
    font-size: x-large;
  }
  .eslogan p {
    font-size: 80px;
  }
  .principal p {
    font-size: 25px;
    line-height: 25px;
  }
  .principal img {
    right: 500px;
    height: 250px;
    margin-top: -350px;
    margin-left: 1000px;
    margin-bottom: none;
  }
  footer {
    font-size: large;
    padding: 0px 35px;
  }
  .redes div {
    font-size: large;
  }
  .seccion3 {
    gap: 20px;
  }
  .seccion3 div {
    gap: 20px;
    width: 800px;
    font-size: large;
  }
  footer p {
    font-size: 30px;
  }
}
@media (min-width: 390px) and (max-width: 598px) {
  .contenedor7 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor7 img {
    right: 200px;
    height: 200px;
    margin-left: 40px;
    margin-right: 30px;
  }
  .prueba1 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 75px;
  }
  .prueba2 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 75px;
  }
  .prueba3 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 75px;
  }
  .prueba4 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 75px;
  }
  .prueba5 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 75px;
  }
  .prueba6 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 75px;
  }
  .prueba7 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 75px;
  }
  .contenedor9 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor9 img {
    height: 200px;
    margin-left: 20px;
  }
  .contenedor10 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor10 img {
    height: 200px;
    right: 200px;
    margin-right: 0%;
    margin-left: 25%;
    margin-bottom: 10px;
  }
  .desc p {
    font-size: 20px;
  }
  .contenedor16 {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .contenedor16 img {
    right: 250px;
    height: 250px;
    margin-left: 10px;
  }
  .contenedor16 button {
    margin-left: 20px;
  }
  .contenedor13 {
    grid-template-columns: 1fr;
  }
  .contenedor13 img {
    margin-left: 100px;
    margin-bottom: 10px;
    height: 300px;
  }
  .contenedor14 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor14 img {
    margin-left: 40px;
    margin-right: 10px;
    height: 200px;
  }
  .contenedor14 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 75px;
  }
  .implook {
    grid-template-columns: 1fr;
  }
  .implook img {
    height: 350px;
    margin-left: 100px;
  }
  .look05 {
    grid-template-columns: repeat(2, auto);
  }
  .look05 img {
    height: 200px;
    margin-left: 40px;
    margin-top: 10px;
  }
  .contenedor15 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor15 img {
    margin-left: 10px;
    height: 200px;
  }
  .contenedor15 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 20px;
  }
  .ropa01 {
    grid-template-columns: repeat(2, auto);
  }
  .ropa01 img {
    width: 190px;
    margin-left: 2px;
    margin-bottom: 30px;
  }
  .contenedor11 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor11 img {
    height: 200px;
    margin-left: 40px;
    right: 10px;
  }
  .contenedor11 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 75px;
  }
  .ropa10 {
    grid-template-columns: repeat(2, auto);
  }
  .ropa10 img {
    width: 190px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .contenedor12 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor12 img {
    height: 200px;
    margin-left: 20px;
  }
  .contenedor12 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 50px;
  }
  .contenedor3 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor3 img {
    margin-left: 10px;
    height: 200px;
  }
  .contenedor3 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 50px;
  }
  .video iframe {
    width: 200px;
    height: 400px;
    margin-top: -280px;
    margin-left: -120px;
  }
  .contenedor4 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor4 img {
    height: 200px;
    margin-left: 10px;
  }
  .contenedor4 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: 60px;
  }
  .contenedor6 {
    grid-template-columns: repeat(2, auto);
  }
  .contenedor6 img {
    height: 200px;
    margin-left: 10px;
  }
  .contenedor6 button {
    width: 55px;
    height: 30px;
    font-size: 10px;
    margin-left: -50px;
  }
}

/*# sourceMappingURL=style.css.map */
