@media (min-width:600px) and (max-width:899px) {

    .contenedor2 img {
        right: 600px;
        height: 250px;
    }

    .principal p {
        font-size: 15px;
    }

    .principal img {
        margin-left: 450px;
        margin-top: -250px;
    }

    .seccion3 div {
        width: 200px;
    }

    footer p {
        font-size: 15px;
    }

    .contenedor7 {
        grid-template-columns: repeat(2, auto);
        align-items: center;
    }

    .contenedor7 img {
        right: 300px;
        height: 300px;
        margin-left: 30px;
    }

    .contenedor7 button {
        margin-left: 50px;
    }

    .prueba7 button {
        margin-top: -10px;
        background-position-x: none;
        margin-left: -30px;
    }

    .contenedor9 {
        grid-template-columns: repeat(2, auto)
    }

    .contenedor9 img {
        right: 300px;
        height: 300px;
        margin-left: 40px;
    }

    .contenedor10 {
        grid-template-columns: repeat(2, auto)
    }

    .contenedor10 img {
        right: 300px;
        height: 300px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .contenedor10 button {
        margin-top: 10px;
    }

    .desc p {
        font-size: 25px;
    }

    .contenedor13 {
        grid-template-columns: 1fr;
    }

    .contenedor13 img {
        margin-left: 160px;
        margin-bottom: 10px;
    }

    .contenedor14 {
        grid-template-columns: 50% 50%;
    }

    .contenedor14 img {
        margin-left: 20px;
    }

    .contenedor14 button {
        margin-left: 90px;
    }

    .implook {
        grid-template-columns: 1fr;
    }

    .implook img {
        height: 400px;
        margin-left: 160px;
    }

    .look05 {
        grid-template-columns: 50% 50%;
    }

    .look05 img {
        height: 400px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .contenedor15 {
        grid-template-columns: 50% 50%;
    }

    .contenedor15 img {
        margin-left: 10px;
    }

    .contenedor15 button {
        margin-left: 30px;
    }

    .contenedor16 {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .contenedor16 img {
        right: 300px;
        height: 300px;
        margin-left: 40px;
    }

    .contenedor16 button {
        margin-left: 60px;
    }

    .ropa01 {
        grid-template-columns: repeat(2, auto);
    }

    .ropa01 img {
        width: 280px;
        margin-left: 10px;
        margin-bottom: 40px;
    }

    .contenedor11 {
        grid-template-columns: repeat(2, auto)
    }

    .contenedor11 img {
        height: 400px;
        margin-left: 20px;
        right: 10px;
    }

    .ropa10 {
        grid-template-columns: repeat(2, auto)
    }

    .ropa10 img {
        width: 280px;
        margin-left: 10px;
    }

    .contenedor12 {
        grid-template-columns: repeat(2, auto)
    }

    .contenedor12 img {
        margin-left: 20px;
    }

    .contenedor12 button {
        margin-left: 50px;
    }

    .contenedor3 {
        grid-template-columns: repeat(2, auto);
    }

    .contenedor3 img {
        margin-left: 40px;
        height: 300px;
    }

    .contenedor3 button {
        margin-left: 80px;
    }

    .video iframe {
        width: 260px;
        height: 500px;
        margin-top: -400px;
        margin-left: 20px;
    }

    .contenedor4 {
        grid-template-columns: repeat(2, auto)
    }

    .contenedor4 img {
        height: 300px;
        margin-left: 40px;
    }

    .contenedor4 button {
        margin-left: 80px;
    }

    .contenedor6 {
        grid-template-columns: repeat(2, auto)
    }

    .contenedor6 img {
        height: 300px;
        margin-left: 30px;
    }

    .contenedor6 button {
        margin-left: -30px;
    }

    .redes a {
        font-size: 25px;
    }

}

@media (min-width:900px) {

    .contenedor2 img {
        right: 1000px;
        height: 500px;
        margin-right: 35px;
    }

    .menu ul {
        font-size: x-large;
    }

    .eslogan p {
        font-size: 80px;
    }

    .principal p {
        font-size: 25px;
        line-height: 25px;
    }

    .principal img {
        right: 500px;
        height: 250px;
        margin-top: -350px;
        margin-left: 1000px;
        margin-bottom: none;
    }

    footer {
        font-size: large;
        padding: 0px 35px;
    }

    .redes div {
        font-size: large;
    }

    .seccion3 {
        gap: 20px;
    }

    .seccion3 div {
        gap: 20px;
        width: 800px;
        font-size: large;
    }

    footer p {
        font-size: 30px;
    }

}

@media (min-width:390px) and (max-width:598px) {

    .contenedor7 {
        grid-template-columns: 1fr;
    }

    .contenedor7 img {
        @include chocolate;
    }

    .contenedor7 button {
        margin-left: 120px;
    }

    .prueba7 button {
        margin-left: 40px;
    }

    .contenedor9 {
        grid-template-columns: 1fr;
    }

    .contenedor9 img {
        height: 300px;
        margin-left: 100px;
    }

    .contenedor10 {
        grid-template-columns: 1fr;
    }

    .contenedor10 img {
        @include chocolate;
    }

    .desc p {
        font-size: 20px;
    }

    .contenedor16 {
        grid-template-columns: 1fr;
    }

    .contenedor16 img {
        margin-left: 80px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor16 button {
        margin-left: 100px;
    }

    .contenedor13 {
        grid-template-columns: 1fr;
    }

    .contenedor13 img {
        margin-left: 100px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor14 {
        grid-template-columns: 1fr;
    }

    .contenedor14 img {
        margin-left: 10px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor14 button {
        margin-left: 10px;
    }

    .implook {
        grid-template-columns: 1fr;
    }

    .implook img {
        height: 300px;
        margin-left: 100px;
    }

    .look05 {
        grid-template-columns: 1fr;
    }

    .look05 img {
        height: 300px;
        margin-left: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contenedor15 {
        grid-template-columns: 1fr;
    }

    .contenedor15 img {
        margin-left: 10px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor15 button {
        margin-left: 10px;
    }

    .ropa01 {
        grid-template-columns: 1fr;
    }

    .ropa01 img {
        height: auto;
        width: 200px;
        margin-left: 100px;
        right: 10px
    }

    .contenedor11 {
        grid-template-columns: 1fr;
    }

    .contenedor11 img {
        @include chocolate;
    }

    .contenedor11 button {
        margin-left: 120px;
    }

    .ropa10 {
        grid-template-columns: 1fr;
    }

    .ropa10 img {
        margin-left: 100px;
        margin-bottom: 10px;
        height: auto;
        width: 200px;
    }

    .contenedor12 {
        grid-template-columns: 1fr;
    }

    .contenedor12 img {
        margin-left: 20px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor12 button {
        margin-left: 30px;
    }

    .contenedor3 {
        grid-template-columns: 1fr;
    }

    .contenedor3 img {
        margin-left: 100px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor3 button {
        margin-left: 120px;
    }

    .video iframe {
        width: 300px;
        height: 200px;
        margin-left: -240px;
    }

    .contenedor4 {
        grid-template-columns: 1fr;
    }

    .contenedor4 img {
        margin-left: 100px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor4 button {
        margin-left: 120px;
    }

    .contenedor6 {
        grid-template-columns: 1fr;
    }

    .contenedor6 img {
        margin-left: 80px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor6 button {
        margin-left: -10px;
    }

    .redes a {
        font-size: 20px;
    }

}

@media (min-width:320px) and (max-width:389px) {

    .principal img {
        display: none;
    }

    .contenedor2 {
        display: grid;
        grid-template-columns: 1fr;

        img {
            margin-left: 60px;
            margin-bottom: 10px;
            height: 300px;

        }

    }

    .principal p {
        font-size: 18px;
    }

    .seccion3 {
        gap: 15px;
    }

    .contenedor3 {
        grid-template-columns: 1fr;
    }

    .contenedor3 img {
        margin-left: 50px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor3 button {
        margin-left: 70px;
    }

    .video iframe {
        display: none;
    }

    .contenedor4 {
        grid-template-columns: 1fr;
    }

    .contenedor4 img {
        margin-left: 50px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor4 button {
        margin-left: 70px;
    }

    .contenedor6 {
        grid-template-columns: 1fr;
    }

    .contenedor6 img {
        margin-left: 50px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor6 button {
        margin-left: -70px;
    }

    .ropa01 {
        grid-template-columns: 1fr;
    }

    .ropa01 img {
        height: auto;
        width: 200px;
        margin-left: 50px;
        right: 10px
    }

    .contenedor11 {
        grid-template-columns: 1fr;
    }

    .contenedor11 img {
        @include dulces;
    }

    .contenedor11 button {
        margin-left: 80px;
    }

    .ropa10 {
        grid-template-columns: 1fr;
    }

    .ropa10 img {
        margin-left: 50px;
        margin-bottom: 10px;
        height: auto;
        width: 200px;
    }

    .contenedor12 {
        grid-template-columns: 1fr;
    }

    .contenedor12 img {
        margin-left: 20px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor12 button {
        margin-left: 30px;
    }

    .contenedor13 {
        grid-template-columns: 1fr;
    }

    .contenedor13 img {
        margin-left: 50px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor14 {
        grid-template-columns: 1fr;
    }

    .contenedor14 img {
        margin-left: 50px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor14 button {
        margin-left: 80px;
    }

    .implook {
        grid-template-columns: 1fr;
    }

    .implook img {
        height: 300px;
        margin-left: 50px;
    }

    .look05 {
        grid-template-columns: 1fr;
    }

    .look05 img {
        height: 300px;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contenedor15 {
        grid-template-columns: 1fr;
    }

    .contenedor15 img {
        margin-left: 10px;
        margin-bottom: 10px;
        height: 300px;
    }

    .contenedor15 button {
        margin-left: 10px;
    }

    .contenedor7 {
        grid-template-columns: 1fr;
    }

    .contenedor7 img {
        @include dulces;
    }

    .contenedor7 button {
        margin-left: 80px;
    }

    .prueba7 button {
        margin-left: -15px;
    }

    .contenedor9 {
        grid-template-columns: 1fr;
    }

    .contenedor9 img {
        height: 300px;
        margin-left: 50px;
    }

    .contenedor10 {
        grid-template-columns: 1fr;
    }

    .contenedor10 img {
        @include dulces;
    }

    .desc p {
        font-size: 18px;
    }

    .contenedor16 {
        grid-template-columns: 1fr;
    }

    .contenedor16 img {
        @include dulces;
    }

    .contenedor16 button {
        margin-left: 80px;
    }


















}